<div class="lg:sticky lg:top-8">

	{{- if not (eq .RelPermalink "/about/") -}}

		<div class="space-y-6">

			{{- if .IsHome -}}
				<div class="bg-zinc-100 p-6 rounded-2xl">
					<h2 class="font-bold text-xl mb-4">About Me</h2>
					{{- with .Site.Params.Author.avatar }}
						<img class="w-20 h-20 rounded-full mb-4" src="{{ . }}" alt="{{ $.Site.Params.Author.name }}">
					{{- end }}
					<p class="text-zinc-600 mb-4 text-sm">{{ .Site.Params.Author.bio }}</p>
					<a href="/about/" class="text-blue-600 font-semibold hover:underline text-sm">More about me →</a>
				</div>
			{{- end -}}

		</div>

		<div class="mt-8 space-y-4">
			{{- partial "content/aside-banner.html" -}}
		</div>
	{{- end -}}

</div>
